.home-section {
    max-width: 1000px;
    margin: 0 auto;
}

.tablewidget_container {
    width: 100%;
}

@media (max-width: 1100px) {

    .tablewidget_container {
        width: 100%;
    }
  
  }

  @media (max-width: 800px) {
    .home-section {
        padding: .2rem;
    }
}

