   
.PortfolioItems {
    margin-bottom: 1rem;
    color: var(--clr-white);
    background-color: var(--clr-light-blue);
    background-image: url(/src/components/assets/images/bg-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .PortfolioItems:nth-child(3) {
    margin-bottom: 0;
  }

  .PortfolioItems.second {
    background-color: rgb(121, 19, 229);
  }
  .PortfolioItems.third {
    background-color: rgb(34, 34, 34);
  }
  .PortfolioItems :nth-child(1) {
    grid-column: 1/-1;
  }


  .PortfolioItems .icon {
    width: 64px;
    height: 64px;
    color: var(--clr-white);
  }

  .PortfolioItems .value {
    justify-self: right;
    color: var(--clr-white);
  }

  @media (min-width: 45rem) {
    .PortfolioItems {
      width: 30%;
      margin-bottom: 0;
    }
  }