
.left-div {
    width: 60%;
}
.right-div {
    width: 30%;
}

.border-container {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--clr-light-gray);
}

.mini {
    width: 45%;
    margin-bottom: 1rem;
}

.text-content {
    white-space: pre-wrap;
    font-size: .75rem;
    color: var(--clr-text-gray);
}
.tx {
    text-transform: capitalize;
    margin-top: 1rem;
    color: var(--clr-deep-gray);
}

.flex-c {
    margin-top: 3rem;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.h2-header {
    font-size: .625rem;
    color: var(--clr-deep-gray);
}
.span-details {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--clr-span-blue);
}
.fw-light {
    font-size: 1.2rem;
    font-weight: 300;
}

.bottom-div {
    width: 100%;
    margin-top: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.bottom-btn {
    width: 40%;
    height: 50px;
    font-weight: 400;
    padding-inline: 2.5rem;
    color: var(--clr-blue);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-border-blue);
}

@media (max-width: 640px)
 {
    .detail-container {
        flex-direction: column;
    }
    .left-div {
        width: 100%;
    }
    .right-div {
        margin-top: 2rem;
        width: 100%;
    }
    .mini {
        width: 48%;
    }
    .bottom-div {
        margin-top: 1rem;
    }
    .bottom-btn {
        width: 100%;
    }
}

@media (max-width: 300px)
 {
    .mini {
        width: 100%;
    }
}