.app {
  padding: 1rem;
}
.container {
  display: flex;
}

@media (max-width: 1100px) {
  .app {
      padding: .5rem;
  }
}

@media (max-width: 800px) {
  .app {
      padding: .2rem;
  }
}

/* LIST PAGE*/
.list,
.userList{
  max-width: 1000px;
  margin: 0 auto;
}
.muiTable {
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  border-radius: 16px !important;
}
.userListUser {
  display: flex;
  align-items: center;
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.userListName {
  font-weight: 600;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MuiTooltip-popper {
  margin-top: 60px;
}
.widgetLgButton {
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}
.widgetLgButton.Completed{
    background-color: #fff0f1;
    color: #d95087;
}
.widgetLgButton.Incomplete{
  background-color: #ebf1fe;
  color: #2a7ade;
}
.widgetLgButton.debit{
    background-color: #fff0f1;
    color: #d95087;
}
.widgetLgButton.credit{
  background-color: #e5faf2;
  color: #3bb077;
}
.userListEdit{
  padding: 5px 10px;
  background-color: #2a7ade;
  color: white;
  cursor: pointer;
  margin-right: 5px;
    border: none;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
   
}
.iconSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 3px;
  background-color: #000000;
  cursor: pointer;
  margin-right: 5px;
}
.userListIcon{
    color: #FFF;
    font-size: 18px !important;
}
.totalEstatesDiv {
  margin: auto;
}
/* END OF LIST PAGE */

/* PROFILE PAGE  */
.profile_section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  
}
.profile_container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.image_container {
  width: 30%;
  margin-right: 3rem;
}
.image_container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}
.timeline_container {
  width: 40%;
}

@media (max-width: 960px) {
  .image_container {
      width: 40%;
      margin-right: 2rem;
  }
  .timeline_container {
      width: 50%;
  }
}
@media (max-width: 780px) {
  .profile_container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .image_container {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1.5rem;
  }
  .timeline_container {
      width: 100%;
  }
}

/* TAB SECTION  */
.tabs_container {
  margin: 2rem auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  
}

.tabx_container {
  margin: 2rem auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
}

.permission_container,
.estate_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

/* END OF TAB SECTION  */

.profile-button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
/* END OF PROFILE PAGE  */

/* SELECT  */
select {
  height: 55px;
  width: 100%;
  background-color: white;
  border: 2px solid #000;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, #FFF 50%),
    linear-gradient(135deg, #FFF 50%, transparent 50%),
    linear-gradient(to right, #062863, #062863);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 5em;
  background-repeat: no-repeat;
}
select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #FFF 50%),
    linear-gradient(to right, #062863, #062863);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 5em;
  background-repeat: no-repeat;
  outline: 0;
}
/* END OF SELECT  */

/* SIDE OVERLAY  */

.apply-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: flex-end;
  inset: 0px 0px auto;
  background-color: rgba(27, 27, 27, 0.75);
  z-index: 9999;
  height: 100%;
  width: 100%;
}
.show {
  display: flex;
}

.ja-center {
  justify-content: center !important;
  align-items: center;
}

.form-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.close-icon-container {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
}
.close-icon {
  font-size: 30px !important;
  color: gray;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* END OF SIDE OVERLAY  */
